In [3]:
import pandas as pd

In [4]:
path = 'data/GDSC2_fitted_dose_response_25Feb20.csv'

In [5]:
df = pd.read_csv(path)
df.head()

  CELL_LINE_NAME       DRUG_NAME   LN_IC50
0        HCC1954  5-Fluorouracil  5.530934
1        HCC1143  5-Fluorouracil  5.747062
2        HCC1187  5-Fluorouracil  6.699858
3        HCC1395  5-Fluorouracil  5.841372
4        HCC1599  5-Fluorouracil  5.503561

In [6]:
df_drug = df.groupby(['DRUG_NAME', 'CELL_LINE_NAME'])
cleaned_df = pd.DataFrame(df_drug.first())

In [10]:
cleaned_df

                                LN_IC50
DRUG_NAME      CELL_LINE_NAME
5-Fluorouracil 22RV1           2.478859
               23132-87        2.168003
               42-MG-BA        3.362543
               5637            3.313258
               639-V           4.410077
...                                 ...
Zoledronate    WSU-NHL         2.731601
               YAPC            4.787752
               YH-13           3.640823
               ZR-75-30        5.101493
               huH-1           4.553951

[131108 rows x 1 columns]

In [9]:
newf = cleaned_df.pivot(index='CELL_LINE_NAME', columns='DRUG_NAME')

KeyError: "None of ['CELL_LINE_NAME', 'DRUG_NAME'] are in the columns"