In [1]:
import pandas as pd

In [17]:
path = 'data/GDSC1_fitted_dose_response_25Feb20.csv'

In [18]:
df = pd.read_csv(path)
df.head()

,DATASET,NLME_RESULT_ID,NLME_CURVE_ID,COSMIC_ID,CELL_LINE_NAME,SANGER_MODEL_ID,TCGA_DESC,DRUG_ID,DRUG_NAME,PUTATIVE_TARGET,PATHWAY_NAME,COMPANY_ID,WEBRELEASE,MIN_CONC,MAX_CONC,LN_IC50,AUC,RMSE,Z_SCORE
0,GDSC1,281,12974350,683665,MC-CAR,SIDM00636,MM,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.395685,0.982114,0.022521,-0.189576
1,GDSC1,281,12975300,684055,ES3,SIDM00265,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,3.140923,0.984816,0.031840,0.508635
2,GDSC1,281,12975647,684057,ES5,SIDM00263,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,3.968757,0.985693,0.026052,1.284229
3,GDSC1,281,12975980,684059,ES7,SIDM00269,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.692768,0.972699,0.110056,0.088760
4,GDSC1,281,12976330,684062,EW-11,SIDM00203,UNCLASSIFIED,1,Erlotinib,EGFR,EGFR signaling,1045,Y,0.007813,2.0,2.478678,0.944462,0.087011,-0.111820

In [19]:
cleaned_table = pd.pivot_table(df, columns="DRUG_NAME", index="CELL_LINE_NAME", values="LN_IC50")

In [20]:
clean_df = pd.DataFrame(cleaned_table)
clean_df.head()

DRUG_NAME,(5Z)-7-Oxozeaenol,5-Fluorouracil,A-443654,A-770041,A-83-01,ACY-1215,AGI-6780,AICA Ribonucleotide,AKT inhibitor VIII,AR-42,...,YK-4-279,YM201636,Z-LLNle-CHO,ZG-10,ZM447439,ZSTK474,Zibotentan,"eEF2K Inhibitor, A-484954",kb NB 142-70,rTRAIL
CELL_LINE_NAME,,,,,,,,,,,,,,,,,,,,,
201T,NaN,3.738474,NaN,NaN,5.577933,2.008393,2.031296,10.006271,0.780230,0.930811,...,NaN,1.305149,NaN,NaN,2.749242,0.548002,5.585589,5.949178,3.351214,NaN
22RV1,2.473661,0.579462,NaN,NaN,5.301094,0.848493,2.074601,8.277725,1.134128,-1.781237,...,2.583354,1.261377,NaN,2.216868,3.416765,-0.571806,5.888332,5.893007,2.989828,-0.586084
23132-87,1.301264,1.365795,NaN,NaN,5.373269,1.069584,1.810023,8.505100,0.261803,-0.881096,...,0.795859,0.993686,NaN,NaN,3.172498,0.052252,5.420652,5.462244,2.988358,-0.346343
42-MG-BA,0.588663,2.220789,NaN,NaN,3.794016,2.390233,1.304001,7.562607,2.495521,0.071489,...,1.176390,2.538389,NaN,NaN,1.339216,2.235613,5.495883,5.568079,3.082424,-1.651068
451Lu,-3.319106,4.793045,NaN,NaN,3.535063,1.467223,1.328021,8.796902,2.904590,-0.282162,...,1.036283,2.720628,NaN,1.720593,3.081418,2.359897,5.483329,5.631951,2.657539,-0.138739

In [21]:
clean_df.to_csv('cleaned_gdsc1.csv')